.album
{
    width:1200px;
    border:1px grey solid;
}
.album ul
{
    text-align:center;
    font-size:26px;
    list-style-type:none;
}
.album li
{
    float:left;
}
.album img
{
    width: 580px;
    margin:10px;
}
.album p{

    text-align:center;

    font-size:26px;background-color:#cccccc;
}
div#barbecue
{
    height:1300px;
}
div#graduation
{
    height:1300px;
}