div
{
    position: relative;
}
div#fullbody
{
    width: 1200px;
    padding:0px 10px;
}
div#tab2
{
    width:100%;
    height:280px;
}

.poster-main {
    width: 1100px;
    margin: 0;
    float: left;
    height: 270px;
}

    .poster-main a, .poster-main img {
        display: block;
        width: 640px;
        height: 270px;
    }

    .poster-main .poster-list {
        width: 1100px;
        height: 270px;
        list-style-type: none;
    }

        .poster-main .poster-list .poster-item {
            position: absolute;
            left: 0px;
            top: 0px
        }

    .poster-main .poster-btn {
        position: absolute;
        height: 100%;
        width: 100px;
        top: 0px;
        z-index: 10 !important;
        opacity: 0.7;
    }

    .poster-main .poster-prev-btn {
        left: 0px;
        background: url("../images/btn_l.png") no-repeat center center;
    }
    .poster-prev-btn:hover,.poster-next-btn:hover
    {
        background-color: #fff;
    }

    .poster-main .poster-next-btn {
        right: 0px;
        background: url("../images/btn_r.png") no-repeat center center;
    }

div#contents
{
    width:100%;
    
}
div#papertitle,div#paperpublication
{
    width:100%;
} 
div#papertitle
{
    height:30px;
    border-bottom: 2px  solid  rgba(138,23,21,.4)
}
div#ttttt,div#more,.pub
{
    float:left;
    color: rgba(138,23,21,1);
}
div#ttttt 
{
    width:80%;
    margin:auto;
    font-size: 24px;
}
div#tttt2
{
    width:100%;
    margin:20px 0px;
    font-size: 24px;
    color: rgba(138,23,21,0.8);
    height:30px;
    border-bottom: 2px  solid  rgba(138,23,21,.4)
}
div#news
{
    height:400px;
}
.neww
{
    width:550px;
    height:48px;
    padding:5px 25px;
    color: rgba(138,23,21,1);
    float: left;
    text-align: left;
}
.neww a
{
    
    color: rgba(138,23,21,1);
}
.neww span
{
    padding:2px;
    border-radius: 12px;
    font-size:12px;
}
.neww:hover span
{
    background-color: rgba(138,23,21,0.8);
    transition: background-color 0.5s;
    color: white;
}
div#paperpublication
{
    height:600px;
    overflow:hidden;
}

.pub{
    /*position:absolute;*/
    width:560px;
    padding:10px;
    margin:10px;
    float:left;
}
ul 
{
    list-style-type: none;
}
div a 
{
    text-align: left;
}
div#more
{
    width:5%;
    margin:auto;
    padding:2px 4px;
    font-size: 16px;
    background-color:rgba(138,23,21,0.8);
    border-radius: 12px;
    color:white;
    font-weight:bold;
    font-style:none;
    text-decoration: none;
}

div#contactinformation
{
    height:364px;
    color: black;
    background-color: rgb(187, 40, 40)；
    
}
div#ccf
{
    width: 100%;
    color: rgba(138,23,21,0.8);
    height:30px;
    font-size: 24px;
    border-bottom: 2px  solid  rgba(138,23,21,.4)

}
div ul
{
    margin:20px 0px;
}
div#contactinformation li
{
    width:550px;
    padding:4px 25px;
    min-height: 48px;
}
div#ccfimg 
{
    padding: 50px 25px;
    float:left;
    width: 300px;
    background-color: #e2e6ea;
}
div#ccfimg p#name
{
    color:black;
    font-size: 24px;
}
div#ccftext
{
    background-color: #e2e6ea;
    text-align: left;
    float:left;
    width:850px;
    height: 332px;
}
div#ccftext a{
    color:black;
}
